@import "../../media";

.carouselContainer{
    header{

        display: flex;
        align-items: center;
        justify-content: space-between;
        

        h2{
            color: var(--text-color);

            @include media_sm{
                font-size: 20px;
            }
        }
    }
}