@import "../../variables";
.card{
    margin-inline: 4px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--text-color);
    overflow: hidden;
    margin-block: 1em;
    position: relative;
    height: 300px;

    img{
        height: 100%;
        position: absolute;
        opacity: 0.2;
        top: 0;
        left: 0;
        width: 40%;
        animation: strip 1000ms ease infinite;
        
    }
}

@keyframes strip{
    0%{
        
        left: 0;
    }

    100%{
        
        left: 100%;
    }
}