@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&display=swap');

$font: 'Gentium Book Plus', serif;
$dark-color: #242424;
$light-dark-color: #363636;
$mobile-font-size: 17px;

$dim-light-color: #ddd;
$light-color: #f0f0f0;
$yellow-color: #fa9f0c;



