@use "./variables" as var;
@import "./media";

:root{
    --primary-color: #242424;
    --secondary-color: #363636;
    --text-color: #dddddd;
    --nav-bg: rgba(36,36,36,0.4);
    --gradient-overlay: linear-gradient(0deg, rgba(54,54,54,1) 0%, rgba(54,54,54,0) 100%);
    --card-gradient-overlay: linear-gradient(0deg, rgba(36,36,36,1) 0%, rgba(36,36,36,0) 100%);
    --transprent-gradient: rgba(221,221,221,0.4);
    --accent-color: #fa9f0c;
    --genres-bg: #fa9f0c;
    --genres-text: #242424;
    --card-shadow: rgba(0,0,0,0.3);
    --rate-bg: rgba(255,255,255,0.6);
    --text-color-opac: rgba(221,221,221,0.4)
}

[data-theme="light"]{
    --primary-color: #eeeeee;
    --secondary-color: #cfcfcf;
    --nav-bg: rgba(238,238,238,0.4);
    --text-color: #242424;
    --card-gradient-overlay: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(238,238,238,0) 100%);
    --gradient-overlay: linear-gradient(0deg, rgba(207,207,207,1) 0%, rgba(207,207,207,0) 100%);
    --transprent-gradient: rgba(36,36,36,0.4);
    --accent-color: #435269;
    --genres-bg: #242424;
    --genres-text: #dddddd;
    --card-shadow: rgba(0,0,0,0.3);
    --rate-bg: rgba(255,255,255,0.4);
    --text-color-opac: rgba(36,36,36,0.4)
}

.nav-scroll{
    background-color: var(--primary-color) !important;
}

::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var.$font;
    overflow-x: hidden;
}


.app{
    width: 100%;
    min-height: calc(100vh - 40px);
    overflow: hidden;
}

.app{
    background: var(--secondary-color);
}



.activeLink{
    opacity: 1;
}

.inactiveLink{
    opacity: 0.7;
}

.showSearch{
    width: 100%;
    border-bottom: 1px solid var(--text-color) !important;
    padding: 0.25em;

}

.hideSearch{
    width: 0;
    border: none;
}

.showMobileMenu{
    right: 0;
}

.hideMobileMenu{
    right: -200px;
}


.collectionCard{
    width: calc(((1168px - 48px) / 6)) !important;
    // min-width: 100px !important;
    aspect-ratio: 2/3;
    margin-block: 0.25em !important;

    @include media_lg{
        width: calc(((100vw - 72px) / 5)) !important;
    }

    @include media_md{
        width: calc(((100vw - 56px) / 3)) !important;
    }

    


}

.collectionCardImg{
    aspect-ratio: 3/3.8 !important;
    @include media_md{
    aspect-ratio: 3/3.9 !important;
    }
    @include media_sm{
        aspect-ratio: 3/3.7 !important;
    }

    @include media_xs{
        aspect-ratio: 3/3.5 !important;
    }
}

.collectionGenres{
            display: flex !important;

            @include media_sm{
                font-size: calc(0.10vw + 10.5px) !important;
            }

            span{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
}

.react-select-container {
    .react-select__control{

        background-color: var(--primary-color);
    }

    .react-select__menu{
        background-color: var(--primary-color);
        color: var(--text-color);


    }

    .react-select__single-value {
        color: var(--text-color);
    }
        
}


.rating{
    
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f6f6f6;
    svg{
        line-height: 0;
    }

    
    
}

.rating::before{
    content: '';
    position: absolute;
    background: #242424;
    border-radius: 50%;
    z-index: -1;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
}

.rating__card{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;

    @include media_sm{
        // display: none;
        width: 30px;
        height: 30px;
        top: 5px;
        left: 5px;
    }
}

.rating__details{
    position: relative;
    width: 70px;
    height: 70px;
    
}